@font-face {
    font-family: Cantarell;
    src: url(Cantarell-Regular.ttf);
}

body{
    background-color: #f8f2e5;
    color: #4F494C;
    margin: 0;
    font-family: Cantarell;
}

section {
    display: none;
}

#home {
    display: block;
}

#container{
    width:70%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3vh;
}

.tab{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 5px;
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;

    transition: padding 0.3s ease-in;

}

.tab:hover{
    padding: 8px 12px;
}

.inline-socials{
    display: flex;
    align-items: center;
    gap: 8px;
}

.inline-socials p{
    font-size: 18px;

    
}

.inline-socials img{
    height: 20px;
    width: auto;

    transition: height 0.3s ease-in;
    /* transition: rotate 0.3s ease-out; */
}

.inline-socials:hover img{
    height: 30px;
    /* rotate: -30deg; */
    
}

.inline-socials:hover p{
    font-size: 30px;
    
}