@font-face {
    font-family: Cantarell;
    src: url(Cantarell-Regular.ttf);
}

body{
    background-color: #f8f2e5;
    color: #4F494C;
    margin: 0;
    font-family: Cantarell;
}

section {
    display: none;
}

#home {
    display: block;
}

#container{
    width:70%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3vh;
}

.tab{
    display: inline-block;
    padding: 10px 10px 10px;
    outline-width: 1px;
    border-bottom: 2px solid #000000;
    border-bottom-width: 0px;

    transition: padding 0.3s ease-in, border-bottom-width 0.3s ease-in;

}

.tab:hover{
    padding: 10px 10px 5px;
    border-bottom-width: 4px;
}

/* ALL SOCIAL MEDIA/CONTACT STUFF*/
.inline-socials{
    display: flex;
    align-items: center;
    gap: 8px;
}

.inline-socials p{
    font-size: 18px;

    transition: font-size 0.4s ease-in;
}

.inline-socials img{
    height: 20px;
    width: auto;
    margin-right: 8px;
    opacity: 75%;

    transition: height 0.3s ease-in, opacity 0.1s ease-in;
    /* transition: rotate 0.3s ease-out; */
}

.inline-socials:hover img{
    height: 21px;
    opacity: 100%;
    /* rotate: -30deg; */
    
}

.inline-socials:hover p{
    font-size: 30px;
    
}

.inline-socials a{
    text-decoration: none;
    color: inherit;

}
/* ALL SOCIAL MEDIA/CONTACT STUFF*/